.circle {
    border-radius: 50%;
    background-color: #ff7979;
    width: 200px;
    height: 200px;
    position:fixed;

    top: -100;
    left: -100;
}

button {
    position: absolute;
    color: white;
    font-size: 26;
    background:transparent;
    border: 0;
    outline: none;
    top: 20%;
    right: 20%;
    height: 100%;
}

#close {
    transform: rotate(90deg);
    transform-origin: top left;
   
}