
html {
    box-sizing: border-box;
}

body {
    background-color: #333;
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
}

.container {
    background-color: white;
    height: 100%;
}

.circle_container {
    width: 100px;
    height: 100px;

}


.circle {
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 100%;
    background-color: coral;
    position: relative;
}

.close {
    position: relative;
    top: 20%;
    left: 50%;
    transform: rotate(90dag);
    transform-origin: top left ;
}

