body {
    display: flex;
    height: 80vh;
}
   

.container {
    display: flex;
    width: 100%;
    justify-content: center;
}


.panel {
    margin-left: 50px;
    border-radius: 50px;
    flex: 0.5;
    position: relative;
    transition: flex 0.7s ease-in;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.active {
 
    flex: 5;
  
}

.panel.active h3 {
    opacity: 100;
    transition: opacity 1s;
    pointer-events:none;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    color: white;
    pointer-events: none;
  }

@media (max-width: 500px) {
    .panel:nth-child(4) {
        display: none;
    }
    .panel:nth-child(5) {
        display: none;
    } 
   
}


